html, body {
  margin: 0;
  height: 100%;
}

body {
  background: #000;
  overflow: hidden;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#c {
  width: 100%;
  height: 100%;
  display: block;
  cursor: crosshair;
}
